.idea
.DS_Store
.project
.pydevproject

*.py[co]
*.sw[po]

*_local.py

*.db

*.log

bower_components/
**/node_modules/
collected_static/
db/
media/
reports/

secret.txt
basename.exe.stackdump


!src/**/media/
src/**/node_modules/

src/django-*/
